<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Hi_TechDistributionInc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="HiTechDistribution_Connection" connectionString="Data Source=DESKTOP-MOQ3CCA\MSSQLSERVER2017;Initial Catalog=HiTechDistributionDB;User ID=sa;Password=lasallecollege" />
    <add name="HiTechDistributionDBEntities" connectionString="metadata=res://*/Models.HiTechDataModel.csdl|res://*/Models.HiTechDataModel.ssdl|res://*/Models.HiTechDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MOQ3CCA\MSSQLSERVER2017;initial catalog=HiTechDistributionDB;persist security info=True;user id=sa;password=lasallecollege;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HiTechDistributionDBEntities1" connectionString="metadata=res://*/Models.HiTechModel.csdl|res://*/Models.HiTechModel.ssdl|res://*/Models.HiTechModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MOQ3CCA\MSSQLSERVER2017;initial catalog=HiTechDistributionDB;persist security info=True;user id=sa;password=lasallecollege;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <Hi_TechDistributionInc.Properties.Settings>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Remember" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DarkMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Skiplogin" serializeAs="String">
        <value>False</value>
      </setting>
    </Hi_TechDistributionInc.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>